.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 130px 20px 50px 20px;
}

.titleContainer {
  text-align: center;
}

.subTitle {
  font-size: 35px;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  line-height: 100%;
}

.title {
  font-size: 55px;
  color: var(--primary);
  font-weight: 700;
  line-height: 100%;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
