.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 200ms ease;
  padding: 0 40px;

  --transitionForNavActive: 500ms;
}

.navContainer {
  width: 100%;
  max-width: 1400px;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all var(--transitionForNavActive) ease;
}

.navContainer.navActive {
  background: rgba(20, 21, 23, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 15px 40px;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
}

.callToActionBtns {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
